{% load static %}
<link rel="stylesheet" href="{% static 'usuarios/css/diseno.css' %}">
<div class="labs-container">
    <div class="labs-banner">
        <div class="labs-banner-text">
            <h2>Laboratorios de Entrenamiento</h2>
            <p style="color: #94a3b8;">Despliega entornos controlados y pon a prueba tus habilidades.</p>
        </div>
    </div>

    <div class="labs-filters">
        <div class="filter-chip active">Todos</div>
        <div class="filter-chip">Seguridad Web</div>
        <div class="filter-chip">Redes</div>
        <div class="filter-chip">Vulnerabilidades</div>
    </div>

    <div class="labs-grid">
        
        <div class="lab-card-phantom">
            <div class="lab-icon-sphere">🌐</div>
            <h3>Fundamentos de Análisis de Seguridad en Redes</h3>
            <p>Introducción al análisis de seguridad en redes: detección de amenazas, vulnerabilidades y protección básica de infraestructuras.</p>
            
            <div class="lab-stats">
                <span class="stat-tag">⏱ 1h</span>
                <span class="stat-tag" style="color:#4ade80;">Fácil</span>
            </div>
<button class="lab-btn btn-phantom" onclick="window.open('/cargar-curso/1/', '_blank')">
    Comenzar
</button>


</div>

        <div class="lab-card-phantom">
            <div class="lab-icon-sphere">🔐</div>
            <h3>PHISHING</h3>
            <p>Técnica de fraude en la que atacantes se hacen pasar por entidades confiables para engañar a usuarios y obtener información sensible, como contraseñas o datos bancarios.</p>
            
            <div class="lab-stats">
                <span class="stat-tag">⏱ 1h</span>
                <span class="stat-tag" style="color:#fbbf24;">Media</span>
            </div>

            <a href="#" class="btn-phantom">Iniciar Secuencia</a>
        </div>

        <div class="lab-card-phantom">
            <div class="lab-icon-sphere">🛡️</div>
            <h3>RANSOMWARE</h3>
            <p>Malware que bloquea o cifra archivos y exige un pago para restaurar el acceso.</p>
            
            <div class="lab-stats">
                <span class="stat-tag">⏱ 1h</span>
                <span class="stat-tag" style="color:#f87171;">Difícil</span>
            </div>

            <a href="#" class="btn-phantom">Iniciar Secuencia</a>
        </div>

    </div>
</div>